=begin
#Bandwidth

#Bandwidth's Communication APIs

The version of the OpenAPI document: 1.0.0
Contact: letstalk@bandwidth.com
Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Bandwidth
  class EndpointsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Endpoint
    # Creates a new Endpoint for the specified account.
    # @param account_id [String] Your Bandwidth Account ID.
    # @param body [CreateWebRtcConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateEndpointResponse]
    def create_endpoint(account_id, body, opts = {})
      data, _status_code, _headers = create_endpoint_with_http_info(account_id, body, opts)
      data
    end

    # Create Endpoint
    # Creates a new Endpoint for the specified account.
    # @param account_id [String] Your Bandwidth Account ID.
    # @param body [CreateWebRtcConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateEndpointResponse, Integer, Hash)>] CreateEndpointResponse data, response status code and response headers
    def create_endpoint_with_http_info(account_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.create_endpoint ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling EndpointsApi.create_endpoint"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling EndpointsApi.create_endpoint"
      end
      # resource path
      local_var_path = '/accounts/{accountId}/endpoints'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateEndpointResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic', 'OAuth2']

      new_options = opts.merge(
        :operation => :"EndpointsApi.create_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#create_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Endpoint
    # Deletes the specified endpoint. If the endpoint is actively streaming media, the media stream will be terminated.
    # @param account_id [String] Your Bandwidth Account ID.
    # @param endpoint_id [String] BRTC Endpoint ID.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_endpoint(account_id, endpoint_id, opts = {})
      delete_endpoint_with_http_info(account_id, endpoint_id, opts)
      nil
    end

    # Delete Endpoint
    # Deletes the specified endpoint. If the endpoint is actively streaming media, the media stream will be terminated.
    # @param account_id [String] Your Bandwidth Account ID.
    # @param endpoint_id [String] BRTC Endpoint ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_endpoint_with_http_info(account_id, endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.delete_endpoint ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling EndpointsApi.delete_endpoint"
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling EndpointsApi.delete_endpoint"
      end
      # resource path
      local_var_path = '/accounts/{accountId}/endpoints/{endpointId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'endpointId' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic', 'OAuth2']

      new_options = opts.merge(
        :operation => :"EndpointsApi.delete_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#delete_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Endpoint
    # Returns information about the specified endpoint.
    # @param account_id [String] Your Bandwidth Account ID.
    # @param endpoint_id [String] BRTC Endpoint ID.
    # @param [Hash] opts the optional parameters
    # @return [EndpointResponse]
    def get_endpoint(account_id, endpoint_id, opts = {})
      data, _status_code, _headers = get_endpoint_with_http_info(account_id, endpoint_id, opts)
      data
    end

    # Get Endpoint
    # Returns information about the specified endpoint.
    # @param account_id [String] Your Bandwidth Account ID.
    # @param endpoint_id [String] BRTC Endpoint ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EndpointResponse, Integer, Hash)>] EndpointResponse data, response status code and response headers
    def get_endpoint_with_http_info(account_id, endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.get_endpoint ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling EndpointsApi.get_endpoint"
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling EndpointsApi.get_endpoint"
      end
      # resource path
      local_var_path = '/accounts/{accountId}/endpoints/{endpointId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'endpointId' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EndpointResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic', 'OAuth2']

      new_options = opts.merge(
        :operation => :"EndpointsApi.get_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#get_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Endpoints
    # Returns a list of endpoints associated with the specified account.
    # @param account_id [String] Your Bandwidth Account ID.
    # @param [Hash] opts the optional parameters
    # @option opts [EndpointTypeEnum] :type The type of endpoint.
    # @option opts [EndpointStatusEnum] :status The status of the endpoint.
    # @option opts [String] :after_cursor The cursor to use for pagination. This is the value of the &#x60;next&#x60; link in the previous response.
    # @option opts [Integer] :limit The maximum number of endpoints to return in the response. (default to 100)
    # @return [ListEndpointsResponse]
    def list_endpoints(account_id, opts = {})
      data, _status_code, _headers = list_endpoints_with_http_info(account_id, opts)
      data
    end

    # List Endpoints
    # Returns a list of endpoints associated with the specified account.
    # @param account_id [String] Your Bandwidth Account ID.
    # @param [Hash] opts the optional parameters
    # @option opts [EndpointTypeEnum] :type The type of endpoint.
    # @option opts [EndpointStatusEnum] :status The status of the endpoint.
    # @option opts [String] :after_cursor The cursor to use for pagination. This is the value of the &#x60;next&#x60; link in the previous response.
    # @option opts [Integer] :limit The maximum number of endpoints to return in the response. (default to 100)
    # @return [Array<(ListEndpointsResponse, Integer, Hash)>] ListEndpointsResponse data, response status code and response headers
    def list_endpoints_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.list_endpoints ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling EndpointsApi.list_endpoints"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling EndpointsApi.list_endpoints, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling EndpointsApi.list_endpoints, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/accounts/{accountId}/endpoints'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'afterCursor'] = opts[:'after_cursor'] if !opts[:'after_cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListEndpointsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic', 'OAuth2']

      new_options = opts.merge(
        :operation => :"EndpointsApi.list_endpoints",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#list_endpoints\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Endpoint BXML
    # Updates the BXML for the specified endpoint.
    # @param account_id [String] Your Bandwidth Account ID.
    # @param endpoint_id [String] BRTC Endpoint ID.
    # @param body [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_endpoint_bxml(account_id, endpoint_id, body, opts = {})
      update_endpoint_bxml_with_http_info(account_id, endpoint_id, body, opts)
      nil
    end

    # Update Endpoint BXML
    # Updates the BXML for the specified endpoint.
    # @param account_id [String] Your Bandwidth Account ID.
    # @param endpoint_id [String] BRTC Endpoint ID.
    # @param body [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_endpoint_bxml_with_http_info(account_id, endpoint_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.update_endpoint_bxml ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling EndpointsApi.update_endpoint_bxml"
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling EndpointsApi.update_endpoint_bxml"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling EndpointsApi.update_endpoint_bxml"
      end
      # resource path
      local_var_path = '/accounts/{accountId}/endpoints/{endpointId}/bxml'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'endpointId' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/xml'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Basic', 'OAuth2']

      new_options = opts.merge(
        :operation => :"EndpointsApi.update_endpoint_bxml",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#update_endpoint_bxml\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
